# 18DCE115
## Kashyap Shah
## 9408718809
### B batch

## A. The dataset contains data regarding bank note authentication and based on the attributes you have to classify banknotes as authentic or forged.

## Load dataset using pandas and handle missing values by either removing samples or filling in mean value of respective attribute. The missing values have been marked with “?” in the dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("Admission_predict.csv")

In [4]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
data.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [6]:
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [22]:
data.columns=['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance_of_Admit']

In [23]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [28]:
X=data.drop(['Serial No.','Research'],axis=1)
y=data['Research']

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3)

## B. Implement Support Vector Machine (SVM) and Naïve Bayes Classifier with python’s Scikit-Learn on the given datasets. Compare the classifiers based on their evaluation measures.

In [25]:
from sklearn.svm import SVC

In [26]:
svm_model = SVC()

In [31]:
svm_model.fit(xtrain,ytrain)

SVC()

In [32]:
prediction = svm_model.predict(xtest)

In [34]:
from sklearn.metrics import classification_report,accuracy_score

In [35]:
print(classification_report(ytest,prediction))
print(accuracy_score(ytest,prediction))

              precision    recall  f1-score   support

           0       0.72      0.35      0.47        51
           1       0.65      0.90      0.76        69

    accuracy                           0.67       120
   macro avg       0.69      0.63      0.61       120
weighted avg       0.68      0.67      0.64       120

0.6666666666666666

In [36]:
from sklearn.naive_bayes import GaussianNB

In [37]:
GNB_model = GaussianNB()

In [39]:
GNB_model.fit(xtrain,ytrain)

GaussianNB()

In [40]:
GNB_prediction = GNB_model.predict(xtest)

In [41]:
print(classification_report(ytest,GNB_prediction))
print(accuracy_score(ytest,GNB_prediction))

              precision    recall  f1-score   support

           0       0.73      0.69      0.71        51
           1       0.78      0.81      0.79        69

    accuracy                           0.76       120
   macro avg       0.75      0.75      0.75       120
weighted avg       0.76      0.76      0.76       120

0.7583333333333333